.wrapper{
	padding: 20px;
	min-height: 700px;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	h2{
		font-size: 40px;
	}
	.main{
		margin-top: 50px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 100px;
	}
}