.wrapper {
	min-height: 800px;
	.header {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 200px;
		font-size: 40px;
		P {
			font-weight: bold;
		}
		button {
			background-color: transparent;
			border: none;
			font-size: 30px;
			color: rgb(152, 152, 152);
			cursor: pointer;
		}
	}
}
.empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 805px;
	div {
		text-align: center;
		width: 350px;
		p {
			font-size: 30px;
			font-weight: bold;
			margin: 10px 0px 10px 0px;
		}
		span {
			color: rgb(133, 133, 133);
			font-size: 20px;
			line-height: 30px;
			display: inline-block;
			margin-bottom: 40px;
		}
	}
}
.items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.itemWrapper {
	width: 1000px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #dadada;
	border-radius: 20px;
	margin-top: 20px;
	.carImg {
		img {
			height: 100px;
		}
	}
	.priceAndTitle {
		display: flex;
		font-size: 20px;
		width: 500px;
		gap: 50px;
		.title {
			font-weight: bold;
			width: 250px;
		}
		.price {
			width: 250px;
		}
	}
	.delete {
		background-color: transparent;
		border: 1px solid #9f9f9f;
		cursor: pointer;
		padding: 10px 15px;
		border-radius: 10px;
		transition: all 0.5s;
		img {
			height: 15px;
		}
	}
	.delete:hover {
		background-color: #dadada;
	}
}
.totalPrice {
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.buy {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 200px;
	.back {
		padding: 20px;
		cursor: pointer;
		background-color: #f6f6f6;
		color: #727272;
		border: 2px solid #727272;
		border-radius: 20px;
		transition: all 0.5s;
	}
	.back:hover{
		background-color: #727272;
		color: #fff;
	}
	button {
		font-size: 30px;
		margin-bottom: 40px;
	}
}
