.button{
	padding: 15px;
	color:#fff;
	background-color: rgb(68, 0, 178);
	font-size: 22px;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.5s;
}
.button:hover{
	background-color: #fff;
	color: rgb(68, 0, 178);
	border: 1px solid rgb(68, 0, 178);
}