@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
body {
  font-family: "Inter";
	margin: 0;
	padding: 60px 100px 0 100px;
	height: 100vh;
	background-color: #C5283D;
	transition: all 1s;
}
.body{
	padding: 0px 60px;
	height: auto;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: #fff;
}